.my-form
{

  display: flex ;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  margin: 50px 50%;
  align-items: center;

  

}
/* .form-input{
    padding: 5px;
    width: 100%;
    font-size: 15px;
   
    border-radius: 5px;
}
.form-button{
    background-color: blue;
    color: aliceblue;
    padding: 4px 30px;
    border-radius: 5px;
} */